.login-container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #8b00ff;
}

p {
  color: #666;
  margin-bottom: 40px;
}

ion-item {
  margin-bottom: 15px;
  --border-radius: 15px;
}

.login-btn {
  margin-top: 30px;
  --background: #8b00ff;
  --border-radius: 15px;
  height: 50px;
  font-size: 1.2rem;
}

.register-link {
  margin-top: 30px;
  a {
    color: #8b00ff;
    font-weight: bold;
    text-decoration: none;
  }
}